.my-booking-container {
   background: linear-gradient(rgba(17, 46, 28),rgba(82, 211, 129));
}

.my-booking {
  min-height: 80vh;
  padding: 40px 80px;
}

.my-booking h1 {
  font-size: 32px;
  margin-bottom: 5px;
  color: white;
}

.my-booking p {
  color: gray;
  margin-bottom: 30px;
}

/* Table Wrapper */
.table-wrapper {
  background: #fff;
  border-radius: 12px;
  overflow-x: auto;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
}

.booking-table thead {
  background: black;
  color: #eee;
}

.booking-table th {
  padding: 14px;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid #ddd;
}

.booking-table td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

.hotel-cell {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.hotel-cell img {
  width: 90px;
  height: 65px;
  border-radius: 8px;
  object-fit: cover;
}

.paid {
  color: green;
  font-weight: bold;
}

.unpaid {
  color: red;
  font-weight: bold;
}
.status-btn{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 768px) {
  .my-booking {
    padding: 20px;
  }

  .hotel-cell {
    flex-direction: column;
  }
}
