.navbar {
  width: 100%;
  height: 70px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2000;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #7fff00;
  cursor: pointer;
}

.logo span {
  color: orangered;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links li {
  list-style: none;
  color: #effff3;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 12px;
  cursor: pointer;
  position: relative;
}

.nav-links li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #79c3ff;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li:hover {
  color: #000;
  background: linear-gradient(#a4cceb, #3e90ce, #03345a);
  border-radius: 6px;
}

.login-btn {
  background: black;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 20px;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    border-radius: 10px;
    position: absolute;
    top: 70%;
    right: 0;
    width: 60%;
    flex-direction: column;
    background: rgb(3, 52, 90);
    display: none;
    padding: 20px 0;
    gap: 18px;
    z-index: 1000;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    width: 40%;
    text-align: center;
  }
}
