

.footer {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(to bottom, #c4b6e0, #ebe3f1);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer span{
    font-weight: 500;
    font-size: 30px;
    color: black;
}
p{
    font-weight: 200;
    font-size: 20px;
    margin: 5px 0px;
    color: black;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 5px 0px;
    cursor: pointer;
}
