.allRooms {
  width: 90%;
  margin: 0 auto;
}

.roomsAndFilters {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 30px;
  align-items: flex-start;
}


.leftPart h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
}

.leftPart p {
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: medium;
  color: white;
}

.hotel-card {
  display: flex;
  gap: 25px;
  padding: 20px 0;
  align-items: center;
}

.hotel-image img {
  height: 180px;
  width: 260px;
  border-radius: 16px;
  object-fit: cover;
}

.hotel-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-info-sub {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hotel-title span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.rating p {
  font-size: 14px;
  color: white;
}


.hotel-services {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.aminities {
  display: flex;
  align-items: center;
  gap: 6px;
}

.aminities img {
  width: 18px;
  height: 18px;
  
}

.aminities p {
  font-size: 14px;
 color: white;
}


.hotel-price {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: white;
}


.hotel-info Button {
  height: 40px;
  white-space: nowrap;
}


.rightPart {
  position: sticky;
  top: 80px;
}

.filter-container {
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 12px;
  background: #dbd6d6;
}

.filter-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-btn {
  cursor: pointer;
  color: red;
  font-weight: 500;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 10px -20px;
}

.filters-container h4 {
  margin: 15px 0 10px;
}

.filter-option {
  display: flex;
  gap: 10px;
  margin: 6px 0;
}

.filter-option span {
  color: #555;
}

.price-label {
  display: flex;
  align-items: center;
  gap: 3px;
}


@media (max-width: 900px) {
  .allRooms{
    min-height: 100dvh;
  }
  .roomsAndFilters {
    grid-template-columns: 1fr;
  }

  .hotel-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .hotel-info {
    width: 100%;
  }
.rightPart {
    order: 1;
    position: static;
    margin: 10px 0;
  }

  .leftPart {
    order: 2;
  }
   .rightPart {
    display: none;
  }
}
